<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator" />
    <meta name="author" content="htmlGenerator" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/assets/CSS/Menustyles.css" />

    <style>
      /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
      body {
        background: #e5e5e5;
      }
    </style>
  </head>

  <body>
    <div class="index_add_41_11">
      <div class="background"></div>
      <div class="background2"><div class="background3"></div></div>
      <div class="buttons">
        <div class="cancel_button">
          <div class="anular_1"></div>
          <span class="anular_2">Anular</span>
        </div>
        <div class="enviar_button">
          <div class="enviar_1"></div>
          <span class="enviar_2">Enviar</span>
        </div>
      </div>
      <div class="actualizar_cargo_button">
        <div class="actualizar_cargo_button_box"></div>
        <span class="actualizar_cargo_text">Actualizar cargo</span>
      </div>
      <div class="agregar_cargo_button">
        <div class="agregar_cargo_button_box"></div>
        <span class="agregar_cargo_text">+ Agregar Cargo</span>
      </div>
      <div class="filter_selection">
        <div class="rectangle_box"></div>
        <div class="rectangle_minibox">
          <div class="rectangle_mini"></div>
          <div class="polygon_icon"></div>
        </div>
        <div class="etiqueta3">
          <div class="rectangle_etiqueta3"></div>
          <span class="cargo3_etiqueta">Cargo3</span>
        </div>
        <div class="etiqueta2">
          <div class="rectangle_etiqueta2"></div>
          <span class="cargo2_etiqueta">Cargo2</span>
        </div>
        <div class="etiqueta1">
          <div class="rectangle_etiqueta1"></div>
          <span class="cargo1_etiqueta">Cargo1</span>
        </div>
      </div>
      <div class="rectangle_menu1"></div>
      <div class="header1"></div>
      <span class="cargos_menu_text">Cargos</span>
      <div class="notbell_image"></div>
      <div class="backward_button"></div>
      <div class="drop_down_user">
        <div class="ellipse_user"></div>
        <div class="group_user">
          <div class="tiny_user"></div>
        </div>
      </div>
    </div>
  </body>
</html>
