.container {
	background-color: rgba(255, 255, 255, 1);
	width: 360px;
	height: 640px;
	position: absolute;
}

/*
Section header
*/
.header {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(130.0000074505806, 114.0000008046627, 146.00000649690628, 0.8799999952316284);
	width: 360px;
	height: 74px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
}
.recursos_humanos_title { 
	color:rgba(255, 255, 255, 1);
	width:237px;
	height:38px;
	position:absolute;
	left:-7px;
	top:19px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.notbell_image { 
	width:23px;
	height:23px;
	position:absolute;
	left:254px;
	top:25px;
	background-image:url(../icons/notbell.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.backward_button{ 
	width:20px;
	height:23px;
	position:absolute;
	left:217px;
	top:25px;
	background-image:url(../icons/3585896_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.drop_down_user{ 
	width:96px;
	height:129px;
	position:absolute;
	left:239px;
	top:21px;
}

.ellipse_user{ 
	border-radius:500px;
	background-color:rgba(241.39999777078629, 241.39999777078629, 241.39999777078629, 0.9100000262260437);
	width:42px;
	height:43px;
	position:absolute;
	left:59px;
	top:-7px;
}

.group_user { 
	width:32px;
	height:29px;
	position:absolute;
	left:64px;
	top:0px;
}

.tiny_user { 
	width:32px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../icons/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}



/*
Body
*/
.cargo_button { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(208.46249878406525, 147.6609429717064, 191.43807470798492, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:37px;
	top:122px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.user_button{ 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(148.00663322210312, 96.44666790962219, 156.4000028371811, 0.5299999713897705);
	width:50px;
	height:50px;
	position:absolute;
	left:149px;
	top:122px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.cargo_title { 
	color:rgba(0, 0, 0, 0.6899999976158142);
	width:50px;
	height:18px;
	position:absolute;
	left:37px;
	top:182px;
	font-family:Poppins;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
} 
.user_title { 
	color:rgba(0, 0, 0, 0.6899999976158142);
	width:57px;
	height:27px;
	position:absolute;
	left:145px;
	top:177px;
	font-family:Poppins;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.user_botton { 
	width:37px;
	height:29px;
	position:absolute;
	left:155px;
	top:133px; 
	background-image:url(../icons/user_boton.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.cargo_image{ 
	width:52px;
	height:44px;
	position:absolute;
	left:36px;
	top:125px;
	background-image:url(../icons/cargo_boton.png);
	background-repeat:no-repeat;
	background-size:cover;
}


