/*.container */
body {
	background-color: rgba(255, 255, 255, 1);
	width: 360px;
	height: 640px;
	position: absolute;
}


/*
Section header
*/
/*.header */

header {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(130.0000074505806, 114.0000008046627, 146.00000649690628, 0.8799999952316284);
	width: 360px;
	height: 74px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
}
/* .recursos_humanos_title */
.recursos-humanos-title { 
	color:rgba(255, 255, 255, 1);
	width:237px;
	height:38px;
	position:absolute;
	left:-7px;
	top:19px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
/* .notbell_image */
.notbell-image { 
	width:23px;
	height:23px;
	position:absolute;
	left:254px;
	top:25px;
	background-repeat:no-repeat;
	background-size:cover;
}
/* .backward_button */
.backward-button{ 
	width:20px;
	height:23px;
	position:absolute;
	left:217px;
	top:25px;
	background-repeat:no-repeat;
	background-size:cover;
}
/* .drop_down_user */
.drop-down-user{ 
	width:96px;
	height:129px;
	position:absolute;
	left:239px;
	top:21px;
}

/* .ellipse_user */
.ellipse-user{ 
	border-radius:500px;
	background-color:rgba(241.39999777078629, 241.39999777078629, 241.39999777078629, 0.9100000262260437);
	width:42px;
	height:43px;
	position:absolute;
	left:59px;
	top:-7px;
}

/* .group_user */ 
.group-user{ 
	width:32px;
	height:29px;
	position:absolute;
	left:64px;
	top:0px;
}

/* .tiny_user */
.tiny-user { 
	width:32px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}



/*
Body
*/
/*.cargo_button */
.cargo-button{ 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(208.46249878406525, 147.6609429717064, 191.43807470798492, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:37px;
	top:122px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
/* .user_button */
.user-button{ 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(148.00663322210312, 96.44666790962219, 156.4000028371811, 0.5299999713897705);
	width:50px;
	height:50px;
	position:absolute;
	left:149px;
	top:122px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
/* .cargo_title */
.cargo-title { 
	color:rgba(0, 0, 0, 0.6899999976158142);
	width:50px;
	height:18px;
	position:absolute;
	left:37px;
	top:182px;
	font-family:Poppins;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
} 
/* .user_title */
.user-title { 
	color:rgba(0, 0, 0, 0.6899999976158142);
	width:57px;
	height:27px;
	position:absolute;
	left:145px;
	top:177px;
	font-family:Poppins;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
/* .user_image */
.user-image { 
	width:37px;
	height:29px;
	position:absolute;
	left:155px;
	top:133px; 
	background-repeat:no-repeat;
	background-size:cover;
}
/* .cargo_image */
.cargo-image{ 
	width:52px;
	height:44px;
	position:absolute;
	left:36px;
	top:125px;
	background-repeat:no-repeat;
	background-size:cover;
}


