<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator" />
    <meta name="author" content="htmlGenerator" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/assets/CSS/AgregarCstyles.css" />

    <style>
      /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
      body {
        background: #e5e5e5;
      }
    </style>
  </head>

  <body>
    <div class="agregar_1_102_2">
      <div class="header_164_284">
        <div class="marco_de___agregrar_123_9"></div>
        <div class="group_23_164_278">
          <div class="__agregar_cargo_123_10"></div>
          <span class="__agregar_cargo_123_15">+ Agregar Cargo</span>
        </div>
        <div class="group_26_164_283">
          <div class="__1_123_11"></div>
          <span class="__1_125_11">+ </span>
        </div>
        <div class="group_25_164_282">
          <div class="__2_125_16"></div>
          <span class="__2_126_9">+</span>
        </div>
      </div>
      <div class="buttons_164_313">
        <div class="accept_164_314">
          <div class="aceptar_164_315"></div>
          <span class="aceptar_164_316">Aceptar</span>
        </div>
        <div class="cancel_164_317">
          <div class="cancelar_164_318"></div>
          <span class="cancelar_164_319">Cancelar</span>
        </div>
      </div>
      <div class="scroll_177_2979">
        <div class="agregar_cargo_1_317_3375">
          <div class="buttons_317_3376">
            <div class="save_317_3377">
              <div class="guardar_317_3378"></div>
              <span class="guardar_317_3379">Guardar</span>
            </div>
            <div class="cancel_317_3380">
              <div class="cancelar_317_3381"></div>
              <span class="cancelar_317_3382">Cancelar</span>
            </div>
          </div>
          <div class="1_1_317_3383">
            <div class="frame_10_317_3384">
              <div class="vector_3_317_3385"></div>
              <span class="__o___317_3386">- O - </span>
              <div class="vector_2_317_3387"></div>
            </div>
            <div class="name_317_3388">
              <div class="input_fields_standard_317_3389">
                <span class="nombre_i317_3389_107_42">Nombre</span>
                <div class="line_2_i317_3389_121_11"></div>
              </div>
            </div>
            <div class="above_317_3390">
              <div class="cancel_1_317_3391"></div>
              <div class="accept_1_317_3392"></div>
              <div class="input_fields_standard_317_3393">
                <span class="agregar_relaci_n_i317_3393_121_26"
                  >Agregar relación</span
                >
                <div class="line_2_i317_3393_121_27"></div>
              </div>
              <span class="relaci_n_vertical_arriba_317_3394"
                >Relación vertical arriba</span
              >
              <div class="cva_ag_317_3395">
                <div class="rectangle_4_i317_3395_177_78"></div>
                <div class="f_1_i317_3395_177_107"></div>
              </div>
            </div>
            <div class="below_317_3396">
              <div class="cancel_1_317_3397"></div>
              <div class="accept_1_317_3398"></div>
              <div class="input_fields_standard_317_3399">
                <span class="agregar_relaci_n_i317_3399_121_26"
                  >Agregar relación</span
                >
                <div class="line_2_i317_3399_121_27"></div>
              </div>
              <span class="relaci_n_vertical_abajo_317_3400"
                >Relación vertical abajo</span
              >
              <div class="cva_ag_317_3401">
                <div class="rectangle_4_i317_3401_177_447"></div>
                <div class="f_1_i317_3401_177_448"></div>
              </div>
            </div>
            <div class="functions_317_3402">
              <div class="cancel_1_317_3403"></div>
              <div class="accept_1_317_3404"></div>
              <span class="funciones_317_3405">Funciones</span>
              <div class="input_fields_standard_317_3406">
                <span class="agregar_relaci_n_i317_3406_121_26"
                  >Agregar función</span
                >
                <div class="line_2_i317_3406_121_27"></div>
              </div>
              <div class="cva_ag_317_3407">
                <div class="rectangle_4_i317_3407_177_489"></div>
                <div class="f_1_i317_3407_177_490"></div>
              </div>
              <span class="_1__prioridad_baja__10__prioridad_alta__317_3408"
                >(1: prioridad baja; 10: prioridad alta)</span
              >
            </div>
            <div class="workplace_317_3409">
              <div class="input_fields_standard_317_3410">
                <span class="nombre_i317_3410_107_42">Lugar de trabajo</span>
                <div class="line_2_i317_3410_121_11"></div>
              </div>
            </div>
            <div class="agenda_1_317_3411">
              <div class="new_agenda_317_3412">
                <span class="new_i317_3412_68_83">Agregar horario</span>
              </div>
              <div class="group_12_317_3413">
                <div class="group_7_317_3414">
                  <div class="group_9_317_3415">
                    <span class="pm_317_3416">PM</span>
                    <div class="ellipse_2_317_3417"></div>
                  </div>
                  <div class="group_8_317_3418">
                    <span class="am_317_3419">AM</span>
                    <div class="group_6_317_3420">
                      <div class="ellipse_1_317_3421"></div>
                      <div class="ellipse_3_317_3422"></div>
                    </div>
                  </div>
                </div>
                <div class="group_5_317_3423">
                  <div class="line_3_317_3425"></div>
                  <span class="15_317_3426">15</span>
                  <div class="line_2_317_3427"></div>
                  <div class="rectangle_5_317_3429"></div>
                </div>
                <span class="__317_3430">:</span>
                <div class="group_2_317_3431">
                  <div class="line_3_317_3433"></div>
                  <span class="0_317_3434">0</span>
                  <div class="line_2_317_3435"></div>
                  <div class="rectangle_5_317_3437"></div>
                </div>
                <div class="group_4_317_3438">
                  <span class="0_15_am_317_3439">0:15 AM</span>
                  <div class="vector_317_3440"></div>
                  <div class="rectangle_4_317_3441"></div>
                </div>
                <span class="hasta_317_3442">Hasta</span>
              </div>
              <div class="group_10_317_3443">
                <div class="group_7_317_3444">
                  <div class="group_9_317_3445">
                    <span class="pm_317_3446">PM</span>
                    <div class="ellipse_2_317_3447"></div>
                  </div>
                  <div class="group_8_317_3448">
                    <span class="am_317_3449">AM</span>
                    <div class="group_6_317_3450">
                      <div class="ellipse_1_317_3451"></div>
                      <div class="ellipse_3_317_3452"></div>
                    </div>
                  </div>
                </div>
                <div class="group_5_317_3453">
                  <div class="line_3_317_3455"></div>
                  <span class="15_317_3456">15</span>
                  <div class="line_2_317_3457"></div>
                  <div class="rectangle_5_317_3459"></div>
                </div>
                <span class="__317_3460">:</span>
                <div class="group_2_317_3461">
                  <div class="line_3_317_3463"></div>
                  <span class="0_317_3464">0</span>
                  <div class="line_2_317_3465"></div>
                  <div class="rectangle_5_317_3467"></div>
                </div>
                <div class="group_4_317_3468">
                  <span class="0_15_am_317_3469">0:15 AM</span>
                  <div class="vector_317_3470"></div>
                  <div class="rectangle_4_317_3471"></div>
                </div>
                <span class="desde_317_3472">Desde</span>
              </div>
              <div class="group_11_317_3473">
                <div class="group_1_317_3474">
                  <div class="rectangle_5_317_3475"></div>
                  <div class="rectangle_6_317_3476"></div>
                  <div class="rectangle_7_317_3477"></div>
                  <div class="rectangle_8_317_3478"></div>
                  <div class="rectangle_9_317_3479"></div>
                  <div class="rectangle_10_317_3480"></div>
                  <div class="rectangle_11_317_3481"></div>
                </div>
                <div class="input_fields_standard_317_3482">
                  <span class="lunes_317_3483">Lunes</span
                  ><span class="martes_317_3484">Martes</span
                  ><span class="mi_rcoles_317_3485">Miércoles</span
                  ><span class="jueves_317_3486">Jueves</span
                  ><span class="viernes_317_3487">Viernes</span
                  ><span class="s_bado_317_3488">Sábado</span
                  ><span class="domingo_317_3489">Domingo</span>
                </div>
              </div>
              <span class="horario_317_3490">Horario</span>
            </div>
            <span class="lugar_de_trabajo_317_3491">Lugar de trabajo</span>
            <div class="economy_317_3492">
              <span class="econ_mico_317_3493">Económico</span>
              <div class="group_17_317_3494">
                <div class="group_14_i317_3494_152_163">
                  <div class="frame_15_i317_3494_152_164">
                    <span class="tipo_de_funcionario_i317_3494_152_165"
                      >Tipo de Funcionario</span
                    >
                    <div class="polygon_3_i317_3494_152_171"></div>
                  </div>
                </div>
              </div>
              <div class="group_17_317_3495">
                <div class="group_14_i317_3495_164_141">
                  <div class="frame_15_i317_3495_164_150">
                    <span class="per_odo_de_pago_i317_3495_164_151"
                      >Período de pago</span
                    >
                    <div class="polygon_3_i317_3495_164_152"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
